/* made by Jos Velema codette.net 2022 */
:root {
    --gold-white-100: hsl(44, 88%, 90%);
    --gold-white-200: hsl(44, 88%, 80%);
    --gold-white-300: hsl(44, 87%, 75%);

    --gold-basic-100: hsl(43, 88%, 60%);
    --gold-basic-200: hsl(40, 65%, 53%);
    --gold-basic-300: hsl(37, 58%, 38%);

    --gold-shade-100: hsl(40, 57%, 30%);
    --gold-shade-200: hsl(40, 58%, 15%);
    --gold-shade-300: hsla(40, 66%, 7%, 50%);

    --blue-white-100: hsl(212, 80%, 92%);
    --blue-white-200: hsl(220, 70%, 77%);
    --blue-white-300: hsl(225, 60%, 68%);

    --blue-basic-100: hsl(223, 88%, 60%);
    --blue-basic-200: hsl(223, 88%, 65%);
    --blue-basic-300: hsl(224, 88%, 70%);

    --blue-shade-100: hsl(224, 57%, 30%);
    --blue-shade-200: hsl(224, 58%, 15%);
    --blue-shade-300: hsl(224, 58%, 10%);
}

@font-face {
    font-family: "Copenhagen";
    src: url("../fonts/Copenhagen Grotesk Nova Complete Family/David Engelby Foundry - Copenhagen Grotesk Nova Regular.otf");
}
/*bold version*/
@font-face {
    font-family: "Copenhagen";
    src: url("../fonts/Copenhagen Grotesk Nova Complete Family/David Engelby Foundry - Copenhagen Grotesk Nova Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "Copenhagen";
    src: url("../fonts/Copenhagen Grotesk Nova Complete Family/David Engelby Foundry - CopenhagenGroteskNova-Light.otf");
    font-weight: lighter;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62, 5%;
}

body {
    line-height: 1;
    min-height: 100%;
    background-color: #000;
    font-family: "Copenhagen", Arial, Helvetica, sans-serif;
}

/* .bg-image {
    min-height: 100%;
    background-image: url(../svg/manezinhologo.svg);
    background-color: rgb(0, 0, 0, 0.45);

    background-repeat: no-repeat;
    background-position: center center;

    background-size: contain;
    z-index: -1;
}  */

main {
    position: absolute;
    height: 100%; /* top and bottom fixed to 0 would accomplish the samething, BUT since height percentage is dependent on the parent elements height, I'm using height:100% here to cascade down in order to allow the section and section:before to be designated as height:100%. */
    width: 100%;
}

.fbg {
    background-attachment: fixed;
    background-position: 50% top;
    background-size: cover;
}

.section {
    background: cover;
    height: 100%;
    text-align: center;
    width: 100%;
    /* display: grid;
    place-content: center; */
    /* margin-top: 10vw; */
    /* padding: 3em; */
    /* z-index: -1; */
}

.header-skew {
    padding: 0.25em;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    transform: skewy(-4deg);
}

.header-skew h1 {
    padding: 0.3em;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 2px #fff;
}

.header-skew-content {
    transform: skewy(4deg);
}

#one {
    /* position: absolute; */
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 calc(100% - 3vw));
    margin-bottom: -10vw;
    background-color: #000;
}

#three {
    /* position: absolute; */
    clip-path: polygon(0 10vw, 100% 0, 100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
    margin-top: -10vw;
}

#two {
    background: radial-gradient(
            ellipse farthest-corner at right bottom,
            hsl(49, 99%, 61%) 0%,
            hsl(40, 88%, 59%) 8%,
            hsl(41, 60%, 39%) 30%,
            hsl(42, 49%, 36%) 40%,
            transparent 80%
        ),
        radial-gradient(
            ellipse farthest-corner at left top,
            hsl(60, 22%, 80%) 0%,
            hsl(60, 100%, 84%) 8%,
            hsl(44, 54%, 61%) 25%,
            hsl(42, 50%, 24%) 62.5%,
            hsl(42, 50%, 24%) 100%
        );
    height: 110vh;
}

#three {
    background-color: SkyBlue;
}

#four {
    /* background-color: #772f1a;
background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%); */
    background: #d4af37;
    background: linear-gradient(to bottom, #d4af37 0%, #c5a028 100%);
    border: 1px solid #b69119;
    box-shadow: inset 0 1px 0 #e3be46;
}

#five {
    background-color: DarkRed;
}

p {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

nav a,
a {
    color: var(--blue-white-200);
    text-shadow: 1px 1px 2px var(--blue-white-300);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.content {
    height: 100vh;
    display: grid;
    place-items: center;
    color: #fafafa;
    /* z-index: 23; */
}

/* nav styles */

header {
    /* background: #d4af37;
    background: linear-gradient(#d4af37 25%, #c5a028 75%, #000); */
    /* border: 1px solid #b69119;
    box-shadow: inset 0 1px 0 #e3be46; */
    background-color: rgb(0 0 0 / 0.6);
    text-align: center;
    position: fixed;
    z-index: 120;
    width: 100%;
    height: 3em;
    padding: 4px;
    display: grid;
    place-items: center;
}

.logo {
    padding: 1px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5em 1em;
    padding: 0.5em;
    border: 1px solid var(--blue-white-300);
    border-radius: 4px;
    box-shadow: 0 0 4px 2px var(--blue-white-200);
    height: 2em;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--blue-white-200);
    height: 1px;
    width: 1.7em;
    border-radius: 2px;
    position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    /* instead of display: block were using transform! */
    background: var(--background);
    width: 100%;

    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0.25em;
}

@media screen and (max-width: 800px) {
    nav ul {
        background: rgb(0 0 0 / 0.6);
        backdrop-filter: blur(2px);
        border-bottom: 1px solid var(--blue-white-200);
    }
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    font-size: 1.5rem;
    /* text-transform: uppercase; */
    letter-spacing: 3px;
    font-weight: 400;
    opacity: 0;
    font-family: "Overlock", cursive, Arial, Helvetica, sans-serif;

    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--blue-white-100);
}
/* the ~ looks for preceeding sibling , not perse immediately after */
.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.hero {
    border: 1px solid white;
    background-color: var(--gold-shade-300);
    backdrop-filter: blur(2px);
    color: #fafafa;
    padding: 1em;
    width: 33ch;
    font-size: 1.25rem;
    transform: translateY(120%);
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: "";
        display: block;
        height: 2px;
        background: black;
        position: absolute;
        bottom: -0.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        /* transform-origin: left; */
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

