@font-face {
  font-family: Antonio;
  src: url(../fonts/Antonio-Light.ttf);
}

@font-face {
  font-family: Sword;
  src: url(../fonts/Blacksword.otf);
}

@font-face {
  font-family: DIN400;
  src: url(../fonts/otf/D-DIN-PRO-400-Regular.otf);
}

@font-face {
  font-family: Limosine;
  src: url(../fonts/Champagne\ &\ Limousines\ Italic.ttf);
}

@font-face {
  font-family: Limosine-reg;
  src: url(../fonts/Champagne\ &\ Limousines.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.menu-main {
  position: relative;
  min-height: 100vh;
  top: 6rem;


 
}



.menu-header,.menu-section {
  padding-block: 1rem;
  width: min(100%,1000px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-nav {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.25em;
}

.menu-home {
  margin: 0.5em 0.25em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.menu-home-btn {
  width: 26px;
  background-color: hsl(43, 98%, 50%);
  padding: 4px;
  border-radius: 100vw;
  transition: all 200ms ease-in-out ;
}
.menu-home-btn:hover,
.menu-home-btn:focus {
  transform: translateY(-2px);
  background-color: hsl(66, 88%, 50%);

}

.menu-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  padding: 0.5em 0.75em;
  border: 1px solid #fff6;
  border-radius: 4px;
}

.menu-nav li:not(li:last-child) {
  margin-right: 0.55em;
}

.menu-nav li {
  font-family: "Limosine-reg";
  font-size: clamp(0.8rem, 4vw, 1.4rem);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.menu-section {
  display: block;
 
}
.menu-section h3 {
  text-align: center;
  text-transform: capitalize;
  font-family: "Sword", Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(1.5rem, 15vw + 1.5rem, 4.5rem);
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: 0 1px 2px var(--gold-tint-1);
  margin-block: 0.5em;
}

.menu-section article {
  padding: 0.25em;
  backdrop-filter: blur(1px);
  border-bottom: 2px solid var(--gold);
}

@media (max-width: 30em) {
  .menu-section article {
    width: 100%;
    
  }
}


.menu-section article ul {
  list-style: none;
}
.menu-section article ul li {
  line-height: 1.7;
  color: #efefef;
  font-size: clamp(0.85rem, 5vmin + 0.9rem , 1.15rem);
}

.menu-section article .menu-ul-price li {
  text-align: right;
}
.menu-section article li:nth-child(odd) {
  background-color: #2a2a2a;
}


/* .menu-ul-price {
  
} */
.menu-section fieldset:not(legend) {
  border: 1px solid #eee6;
  padding: 0.66rem 0.33rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-block: 1em;
}

.menu-section fieldset legend {
  text-align: center;
  padding: 0.35em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menu-section fieldset .menu-ul {
flex: 1 1 auto;
}
.menu-section fieldset .menu-ul-price {
  flex: 0 1 20%;

}

.menu-section fieldset ul:nth-child(even) {
  /* margin-right: 0.25em; */
}



.menu-small-text {
  font-size: 0.7rem;
  color: #e0e0e0;
}

/* .menu-ul-secondary {
  font-size: 0.9rem;
} */

.menu-ul-secondary .menu-small-text {
  font-size: 0.7rem;
}

.menu-section fieldset.menu-special:not(legend) {
  flex-direction: column;
  align-items: center;
  line-height: 1.2em;
  font-size: 1.1rem;
  margin: 0.5em 0 1.5em 0;
}



section {
  margin-bottom: 4em;
}

section:last-of-type {
  margin-bottom: 10em;
}

.menu-size-icon {
  color: #efefef;
  font-family: "DIN400" , monospace;
  font-style: normal;
  font-size: 0.65rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: 2px 4px;
  /* position: relative; */
  border: 1px solid #efefef;
  border-radius: 100vw;
  
}

.menu-legend-p {
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0.50em;

}

.menu-legend-p span {
  text-align: center;

}

footer .menu-nav {
  margin-bottom: 1em;
}

.menu-subheader {
  text-align: center;
  font-size: 1.1 rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-block: 0.5em;
}

.menu-winecollection {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
  padding-inline: 0.5em;
  margin-block: 0.5em;
}


table {
  width: min(100%, 1000px);
  border-collapse: collapse;
  margin-block: 1em;
}
table thead {
  background-color: #2a2a2a;
  color: #efefef;
}
table th, table td {
  padding: 0.66rem 0.33rem;
  border: 1px solid rgba(176, 176, 176, 0.2);
  text-align: center;
  text-wrap: balance;
  font-size: clamp(0.85rem, 5vmin + 0.9rem , 1.15rem);
}

table tbody tr:nth-child(odd) {
  background-color: #2a2a2a;
}

tbody tr:nth-child(even) {
  background-color: #1a1a1a;
}

tr td:first-child {
  text-align: left;
  min-width: 15rem;
  max-width: 80ch;
}

tr.tr-divider {
  border-bottom: 2px solid rgba(176, 176, 176, 0.5);
}

tr.tr-divider th {

}


td small {
  display: block;
  line-height: 1.5;
}

td:last-child {
  max-width: 10rem;
}